
.about-section {
    position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to top, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.3) 75%, #161616 100%), url("../img/aboutme-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
    height: 100vh;
}

.about-section p {
  margin-bottom: 5rem;
}

.img-aboutme {
    width: 50%;
    padding-bottom: 40px;
    padding-top: 40px;
}

.title-about {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.6);
}

.about-section-2 {
    background-color: #161616;
    padding-bottom: 60px;
}

.text-about {
    color: white;
    font-size: 15px;
}

