#text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-family: 'Yantramanav', sans-serif;
    transform: rotate(-90deg);
	transform-origin: right top 5;
    padding-bottom: 20px;
}

.contact-text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-family: 'Yantramanav', sans-serif;
    transform: rotate(-90deg);
	transform-origin: right bottom 0;
}

.contact-section {
  padding: 15rem 0 0;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 5rem;
  width: 5rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 5rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

.social a p {
    display:none;
}
.social a:hover p {
    display:block;
}
