/* Navigationbar */
#mainNav {
  min-height: 56px;
  font-family: 'Fjalla One', sans-serif;
}

.fixed-top {
  position: fixed;
  z-index: 1030;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: grey;
  border: 1px solid grey;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
          margin-top: 280px;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 1.0);
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.85);
      font-size: 15px;
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: transparent;
  }
  #mainNav.navbar-shrink .nav-link {
    color: rgba(255, 255, 255, 0.85);
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
    font-size: 18px;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: grey;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: grey;
  }
}

/* Button */
@media (min-width: 768px) {
  .navbar-expand-sm {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    margin-top: 280px;
  }
  .navbar-expand-sm .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-sm .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
      #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 1.0);
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.85);
      font-size: 15px;
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: transparent;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: rgba(255, 255, 255, 0.85);
  }
  #mainNav.navbar-shrink .nav-link {
    color: rgba(255, 255, 255, 0.85);
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
    font-size: 18px;
  }
  }

 @media (max-width: 775.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 1.0);
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 0.7rem;
    color: rgba(255, 255, 255, 0.85);
    font-size: 12px;
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
  }


.navbar > .container,
.navbar > .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}

/* masthead */
.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.3)), color-stop(75%, rgba(22, 22, 22, 0.7)), to(#161616)), url("../img/run.jpg");
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.6) 75%, #161616 100%), url("../img/run.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
    height: 100vh;
}

.masthead h1 {
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Shadows Into Light', cursive;

}

@media (min-width: 432px) {
  .masthead h1 {
       font-size: 4.5rem;
    line-height: 4.5rem;
  padding-top: 170px;
  }
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 5.5rem;
    line-height: 5.5rem;
      padding-top: 150px;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
    padding-top: 300px;
  }
}

.txt-type > .txt {
  border-right: 0.2rem solid #777;
}
