body {
  font-family: sans-serif;
  letter-spacing: 0.0625em;
  font-size: 14px;
    line-height: 1.42857143;
    color: transparent;
}

a {
  color: #64a19d;
}

a:focus, a:hover {
  text-decoration: none;
  color: #3e003e;
}

.bg-black {
  background-color: #161616;
}

.bg-primary {
  background-color: #64a19d;
}

.text-primary {
  color: #64a19d;
}

footer {
  padding: 5rem 0;
}

.text-footer {
    font-size: 10px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
